[data-module="connectivity"] {
  .splash-screen {
    @include stretch;
    background-color: rgba(0, 0, 0, .8);
    font-size: 24px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;

    &.hide {
      display: none;
    }
  }
}