@mixin stretch($top: 0, $right: 0, $bottom: 0, $left: 0) {
  position: absolute;
  top: $top;
  bottom: $bottom;
  right: $left;
  left: $right;
}

@mixin pill() {
  background-color: $grey-ramp160;
  border-radius: .2em;
  padding: .5em;
  color: $grey-ramp20;
}