.ui-line-chart {
  padding: 40px;

  .hide {
    display: none;
  }

  .line {
    fill: none;
    stroke: $color-palette-10;
    stroke-width: 2px;
  }

  .legend {
    fill: $grey-ramp10;
  }

  .ui-line-chart-ruler {
    stroke-width: 1px;
    stroke: $grey-ramp10;
    shape-rendering: crispEdge;
  }

  .axis path, .axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdge;
  }
}