@import "./ui/colors";
@import "./ui/lineChart/index";
@import "./ui/list/index";
@import "./ui/mixins";

@import "../modules/loadavg/index";
@import "../modules/connectivity/index";
@import "../modules/sysinfo/index";

body {
  background-color: $grey-ramp10;
  color: $grey-ramp150;
  font-family: monospace;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 18px;
}

h3 {
  font-size: 13px;
}

h1, h2, h3 {
  margin: 0;
}

h2, h3 {
  margin-bottom: 10px;
}

section > div, h1 {
  background-color: $grey-ramp20;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
}

svg {
  background-color: $grey-ramp160;
}