[data-module="loadavg"] {
  .alerts, .load-averages {
    display: inline-block;
    vertical-align: top;
  }

  .load-averages {
    margin-right: 20px;
  }

  .alerts {
    li {
      &.ALERT_RAISED {
        background-color: #990000;

        .on-cleared {
          display: none;
        }
      }

      &.ALERT_CLEARED {
        background-color: #006600;

        .on-raised {
          display: none;
        }
      }

      &:not(:first-child) {
        color: inherit;
        opacity: .5;
      }
    }
  }
}
